:root {
  --yellow: #f5c32c;
  --buttonHover: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #e7ab58 0%, #b06219 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
--shedule: #E1AE4A;
--blur-color-default: #bf862b; /*default */
--blur-color-blue: rgba(17, 118, 235, 0.486);
--blur-color-green: rgb(30, 232, 30);
}

.App{
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem, 1rem;
}
.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  filter: blur(90px)

}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:hover {
  color: var(--buttonHover);
  border: 2px solid var(--buttonHover);
  cursor: pointer;
  background: transparent;
}

.button:disabled{  /* in loading state the button wiont be clickable*/
  background: silver;
  pointer-events: none;
}
#moreblur{
  position: absolute;
  top: 40%; 
  left: 40rem; 
  filter: blur(110px);
  max-width: calc(100% - 60rem); /*  it doesn't go beyond the parent width minus 60rem */
}
.blur {
  /* initial color */
  background-color: var(--blur-color-default);
}


.button-bg-blue {
  background: linear-gradient(120deg, #ef8ae0 0%, #e14ae4 100%);
}
html, body {
  margin: 0;
  padding: 0;
 
  height: 100%;
  width: 100%;
}


@media (max-width: 768px) {
  .blur {
    width: 20vw; /* Ensure the blur is large enough to be noticed */
    height: 15vh; /* Adjust height to be visible but not overwhelming */
    opacity: 0.75; /* Increase opacity for visibility */
    position: absolute;
    top: 10%; /* Adjusted to ensure visibility without top overflow */
    left: 10%; /* Centered to enhance appearance without causing layout issues */
    filter: blur(40px); /* Adjust blur effect to ensure it's noticeable */
  }

  #moreblur {
    top: 50%; /* Position it differently to ensure visibility */
    left: 50%;
    transform: translate(-50%, -50%); /* Center it within the viewport */
    width: 25vw;
    height: 20vh;
    opacity: 0.75;
    filter: blur(60px);
  }

  .App {
    position: relative; /* Ensure .App is positioned to act as a reference for absolute positioning */
    overflow: hidden; /* Keep this to prevent any part of the blur from causing overflow */
    padding: 1rem; /* Adjust padding to ensure content is not too close to the edges */
  }
}